.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgb(232, 231, 231);
  padding-top: 50px;
}

.cards {
  height: 80px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70vw;
  gap:50px;
}